/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Top navigation
 */

/* Hide default border to remove 1px line. */
.navbar-fixed-top {
  border: 0;
}

/* Make options centered */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar {
  text-align: center;
}

/* Make title white */
.navbar-header .navbar-brand {
  color: #ffffff;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

/* Give padding to all elements */
.nav-sidebar > li > a, .nav-sidebar .dropdown, .nav-sidebar .btn-group {
  padding-right: 20px;
  padding-left: 20px;
}

/* Padding for the popup part of dropdown  (Confusing yes..) */
.nav-sidebar .dropdown-menu  {
  left: 20px;
}

/* Nice highlights for every link */
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/* Trying to make buttons all fit inline */
.nav-sidebar > .btn-group-sm > .btn {
  padding: 5px 3px;
}

/* Wrap long trend titles on right sidebar */
#trendHeading {
  word-wrap: break-word;
}

/*
 * Main content
 */

/* No padding on main */
.main {
  padding: 0;
}

/* Set wikipedia iframe to 100% height */
html, body, div.container-fluid, div.row, .main {
  height: 100%;
}

.main iframe#wikiFrame {
  border: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/* Tweets and Edits lists styled nicely */
.niceList {
  list-style-type: none;
  list-style-position:inside;
}

.niceList li {
  word-wrap: break-word;
  border-style: solid;
  border-width: 2px;
  border-color: #f5f5f5;
  border-radius: 10px;
  padding: 0.5em;
}
